* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.center-card {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 7%;
}

#header {
    color: white;
    font-family: Merriweather;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(
            circle,
            rgba(240, 240, 240, 0.075) 0%,
            rgba(0, 0, 0, 0.85) 100%
        ),
        url("../assets/newYearBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header h1 {
    font-size: 4rem;
    width: 630px;
    font-weight: 900;
    line-height: 100%;
}

#header h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1%;
}

#offer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    margin-bottom: 5%;
}

#offer-percentage {
    color: red;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2%;
}

#message {
    color: red;
    font-size: 1.4rem;
    font-weight: 500;
}

#catagory-msg {
    color: black;
    font-size: 3rem;
    font-weight: 700;
}

#offer-img {
    width: 800px;
    height: 500px;
}

#banner {
    padding: 70px;
    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 254, 245, 0.075) 100%
        ),
        url("../assets/2024.png"), url("../assets/dance.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right center, center;
    background-size: cover cover;
    color: white;
}

#welcome {
    width: 650px;
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 7px;
    margin-bottom: 2%;
}

.welcome-msg {
    width: 650px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2%;
}

#welcome-join {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0 0 30px;
}

#welcome-join:hover {
    color: red;
}
